.registerPage {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.registerContainer {
  background: white;
  padding: 10rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

.inputGroup {
  margin-bottom: 1rem;
  text-align: left;
}

.inputGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.inputGroup input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerButton {
  width: 100%;
  padding: 0.7rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.registerButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.success {
  color: green;
  font-size: 0.9rem;
}

.loginText {
  margin-top: 1rem;
  font-size: 0.9rem;
}
